- unique_id = "attendance-card"

// Define a style to enable/disable inputs for facilitator/module lead
- responding_style = ("pointer-events: none;" if !facilitator);

.card.mb-2
  %a.card-header.d-flex.justify-content-between.align-items-center{
    "data-bs-toggle" => "collapse",
    href: "##{unique_id}",
    role: "button",
    "data-accordion-toggle" => "",
    "aria-expanded" => "true",
    "aria-controls" => unique_id}

    %h2.fs-4= "Attendance"
    %i.bi.bi-caret-right-fill
  
  .collapse.show{id: unique_id}
    .card-body
      - if group != "None"
        - group.students.each_with_index do |student, i|
          - student_attendance = attendance.nil? ? [false, ""] : attendance.fetch(i, [false, ""])

          .form-check{style: responding_style}
            %input.form-check-input.absent-checkbox{ 
              type: "checkbox", 
              id: "absentCheckbox-#{student.id}", 
              checked: student_attendance[0]}

            %label.form-check-label{ for: "absentCheckbox-#{student.id}" }= "#{student.forename} #{student.surname}"

          %input{
            type: "text", 
            id: "reasonTextInput-#{student.id}", 
            placeholder: "Reason for absence", 
            value: student_attendance[1], 
            class: ("form-control mb-3 absent-reason-input" + (" d-none" if student_attendance[0]).to_s),
            style: responding_style }

      - else 
        // No group given, so display default students as example data for module lead preview
        - for n in 1..3 do
          .form-check{style: responding_style}
            %input.form-check-input.absent-checkbox{ type: "checkbox", id: "absentCheckbox-#{n}", checked: false }
            %label.form-check-label{ for: "absentCheckbox-#{n}" }= "Student #{n}"

          %input.form-control.mb-3.absent-reason-input{
            type: "text", 
            id: "reasonTextInput-#{n}", 
            placeholder: "Reason for absence", 
            style: responding_style }
          
      

  :javascript
    document.addEventListener('change', function(event) {
      if (event.target && event.target.matches(".absent-checkbox")) {
        var checkboxId = event.target.id.split("-")[1];
        var textInputContainer = document.getElementById(`reasonTextInput-${checkboxId}`);
        
        if (event.target.checked) {
          textInputContainer.classList.add("d-none");
          textInputContainer.classList.remove("d-inline");
        }
        else {
          textInputContainer.classList.remove("d-none");
          textInputContainer.classList.add("d-inline");
        }
      }
    });
