= render partial: 'course_project/components/staff_project_view_navbar', locals: { project_id: params[:project_id] }

.row.align-items-center
  .col
    %h4 Viewing Progress Forms

  .col-auto
    .dropdown.d-inline-block.flex-2
      %button.btn.btn-primary{ 
        type: "button", 
        id: "release-date-selection-button", 
        "data-bs-toggle": "dropdown", 
        "aria-haspopup": "true", 
        "aria-expanded": "false"}

        %span#release-date-selection-label= "Release Date: " + (@progress_form.nil? ? "" : @progress_form.deadline.strftime("%d/%m/%Y %H:%M"))

        %i.bi.bi-caret-down-fill
        
      .dropdown-menu{ "aria-labelledby": "release-date-selection-label" }
        - @progress_forms.each do |ms|
          - formatted_date = ms.deadline.strftime("%d/%m/%Y %H:%M")
          %a.dropdown-item{ 
            onclick: "updateReleaseDate('#{formatted_date}')" }= formatted_date

    .dropdown.d-inline-block
      %button.btn.btn-primary{ 
        type: "button", 
        id: "team-selection-button", 
        "data-bs-toggle": "dropdown", 
        "aria-haspopup": "true", 
        "aria-expanded": "false"}

        %span#team-selection-label Team: None
        %i.bi.bi-caret-down-fill
        
      // TODO: Hide teams when form has not been released?
      .dropdown-menu{ "aria-labelledby": "team-selection-button" }
        %a.dropdown-item{ onclick: "updateTeam('None')" }= "None"

        %hr.dropdown-divider

        // TODO: Only display the teams that have submitted a response?
        - @current_project.groups.sort_by{|group| group.name }.each do |group|
          %a.dropdown-item{ onclick: "updateTeam('#{group.name}')" }= group.name

  .col-auto
    = link_to new_project_progress_form_path, class: 'btn btn-outline-primary' do
      %i.bi.bi-plus-circle-fill
      Create New

%hr.divider

- if @progress_form.nil?
  %h5 No progress forms found for this project

- else
  #progress-form-partial-container
    = render partial: "progress_form", locals: {progress_form_id: @progress_form.id, progress_form: @progress_form.json_data, release_date: @progress_form.deadline, progress_response: nil, group: "None", facilitator: false, editing_form: false}

:javascript
  const releaseDateLabel = document.getElementById("release-date-selection-label");
  const teamLabel = document.getElementById("team-selection-label");

  function updateProgressForm() {
    // Make an ajax request to get a new form partial
    fetch("progress_form/show_new", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").getAttribute("content")
      },
      body: JSON.stringify({ 
        release_date: releaseDateLabel.textContent.replace("Release Date: ", ""),
        group_name: teamLabel.textContent.replace("Team: ", "")
      })
    })
    .then(response => response.text())
    .then(data => {
      // Update partial container contents
      document.getElementById("progress-form-partial-container").innerHTML = data;

      // Set the release date 
      document.getElementById("release-date-selection-label").textContent = releaseDateLabel.textContent;
    })
    .catch(error => console.error("Error when updating progress form partial:", error));
  }

  // Functions for updating dropdowns
  function updateReleaseDate(selection) {
    releaseDateLabel.textContent = "Release Date: " + selection;
    updateProgressForm();
  }

  function updateTeam(selection) {
    teamLabel.textContent = "Team: " + selection;
    updateProgressForm();
  }