- ran_num = "#{SecureRandom.hex(5)}"  # Generate a unique ID
- unique_id = "accordion-card-" + ran_num
- unique_id_collapse = "accordion-collapse-card-" + ran_num

%div{ class: "card mb-2 accordion-element #{additional_classes if defined?(additional_classes)}", id: "#{id}"}
  %a.card-header.d-flex.justify-content-between.align-items-center{"data-bs-toggle" => "collapse",
   href: "##{unique_id_collapse}",
   role: "button",
   "data-accordion-toggle" => "",
   "aria-expanded" => "false",
   "aria-controls" => unique_id_collapse, id:ran_num}
    .d-flex.align-items-center
      =title
    %i.bi.bi-caret-right-fill
  .collapse{id: unique_id_collapse}
    .card-body.list-card{id: unique_id}
      = yield