- unique_id = "marking_display_#{SecureRandom.hex(4)}"

.card.mb-2.accordion-element
  %a.card-header.d-flex.justify-content-between.align-items-center{"data-bs-toggle" => "collapse",
   href: "##{unique_id}",
   role: "button",
   "data-accordion-toggle" => "",
   "aria-expanded" => "false",
   "aria-controls" => unique_id}

    %h2.fs-4.ml-2= "My Marking"
    %i.bi.bi-caret-right-fill

  .collapse{id: unique_id}
    .card-body
      .navigation-list-item
        = link_to marking_show_facilitators_path(0) do
          %h6.p-1= "Project A - Testing"

      .navigation-list-item
        = link_to marking_show_facilitators_path(1) do
          %h6.p-1= "Project B - Management"

