- unique_id = "marking_display_#{SecureRandom.hex(4)}"

.card.mb-2.accordion-element
  %a.card-header.d-flex.justify-content-between.align-items-center{"data-bs-toggle" => "collapse",
   href: "##{unique_id}",
   role: "button",
   "data-accordion-toggle" => "",
   "aria-expanded" => "true",
   "aria-controls" => unique_id}

    %h2.fs-4.ml-2= "My Marking"
    %i.bi.bi-caret-right-fill

  .collapse.show{id: unique_id}
    .card-body
      - unless @mark_schemes.nil? || @mark_schemes.empty?
        - @mark_schemes.each do |ms|
          - ms.json_data["sections"].each_with_index do |section, i|
            - unless section["facilitators"].nil?
              - if section["facilitators"].keys.include?(current_user.email)
                .navigation-list-item
                  = link_to marking_show_facilitators_path(milestone_id: ms.id, section_index: i) do
                    %h6.p-1= CourseProject.find(ms.course_project_id).name + " - " + section["title"]

      - else
        %h6 No mark schemes have been published yet.