- ran_num = "#{SecureRandom.hex(5)}"  # Generate a unique ID
- unique_id = "accordion-card-" + ran_num
- unique_id_collapse = "accordion-collapse-card-" + ran_num

.card.mb-2
  %a.card-header.d-flex.justify-content-between.align-items-center{"data-bs-toggle" => "collapse",
    href: "##{unique_id_collapse}",
    "aria-expanded" => "true"}

    %h2.fs-4= "Progress Meetings"
    %i.bi.bi-caret-right-fill

  .collapse.show{id: unique_id_collapse}
    .card-body
      %h5= "Completed"
      - for n in 1..5
        .navigation-list-item
          = link_to progress_form_facilitators_path(week: n) do
            %h6.p-1= "Week #{n}"

      %hr.divider
      %h5= "To Do"
      - for n in 6..8
        .navigation-list-item
          = link_to progress_form_facilitators_path(week: n) do
            %h6.p-1= "Week #{n}"
