-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

- ran_num = "#{SecureRandom.hex(5)}"  # Generate a unique ID
- unique_id = "accordion-card-" + ran_num
- unique_id_collapse = "accordion-collapse-card-" + ran_num

.card.mb-2
  %a.card-header.d-flex.justify-content-between.align-items-center{"data-bs-toggle" => "collapse",
      href: "##{unique_id_collapse}",
      role: "button",
      "data-accordion-toggle" => "",
      "aria-expanded" => "false",
      "aria-controls" => unique_id_collapse}

    %h3.m-0.fs-5.fw-medium Progress Meetings
    %i.bi.bi-caret-right-fill

  .collapse{id: unique_id_collapse}
    .card-body
      %m-0.fs-5= "Completed"
      - @progress_forms_submitted.each do |pf|
        .navigation-list-item
          = link_to progress_form_facilitators_url(milestone_id: pf.id) do
            %h6.p-1= pf.deadline.strftime("%d/%m/%Y %H:%M")

      %hr.divider

      %m-0.fs-5= "To Do"
      - @progress_forms_todo.each do |pf|
        .navigation-list-item
          = link_to progress_form_facilitators_url(milestone_id: pf.id) do
            %p-1.fs-6= pf.deadline.strftime("%d/%m/%Y %H:%M")
