-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

- ran_num = "#{SecureRandom.hex(5)}"  # Generate a unique ID
- unique_id = "accordion-card-" + ran_num
- unique_id_collapse = "accordion-collapse-card-" + ran_num

.card.mb-2
  %a.card-header.d-flex.justify-content-between.align-items-center{"data-bs-toggle" => "collapse",
    href: "##{unique_id_collapse}",
    "aria-expanded" => "true"}

    %h3.m-0.fs-5.fw-medium Members
    %h3.m-0.fs-5.fw-medium= "Facilitator: " + @current_group_facilitator_repr
    %i.bi.bi-caret-right-fill

  .collapse.show{id: unique_id_collapse}
    .card-body
      %table.table
        %thead
          %tr
          %th{scope: "col"} Title
          %th{scope: "col"} Name
          %th{scope: "col"} Email
        %tbody
          - @current_group.students.each do |student|
            %tr
              %td= student.title
              %td= "#{student.forename} #{student.surname}"
              %td= student.email
