%h1= @mark_scheme_project.name + " - " + @section["title"]
%hr.divider
%h3= "Description"
%pre{style: "font-family: inherit;"}= @section["description"]


%hr.divider
- max_marks = @section["max_marks"]

%table.table.table-bordered#markingTable
  %thead
    %tr
      %th Team
      %th= "Marks Given (" + @section["max_marks"].to_s + " Available)"
      %th Reasoning and Feedback
  %tbody
    %tr
      %td A
      %td.editable.onlynumeric{contenteditable: "true"} 5
      %td.editable{contenteditable: "true"} Because you're amazing just the way you are.
    %tr
      %td B
      %td.editable.onlynumeric{contenteditable: "true"} 4
      %td.editable{contenteditable: "true"} Not quite so amazing.

.modal.fade#markErrorModal{role: "dialog"}
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        %h4.modal-title Invalid Marks Given

      .modal-body
        %p The maximum number of marks was exceeded, please check your marking.

      .modal-footer
        %button.btn.btn-default.close{type: "close", "aria-label" => "Close", "data-bs-dismiss" => "modal"} Close

:javascript
  document.addEventListener('DOMContentLoaded', function() {
    var cells = document.querySelectorAll('#markingTable .editable.onlynumeric');
    let markErrorModal = document.getElementById("markErrorModal");
    let confirmSaveModal = document.getElementById("confirmSaveModal");
    let MAX_MARKS_TEMP = #{max_marks};

    cells.forEach(function(cell) {
      ["keypress", "keyup"].forEach(function(e) {
        cell.addEventListener(e, function() {
          var keyValue = String.fromCharCode(event.keyCode || event.which);
          
          if (/\D/.test(keyValue)) {
            event.preventDefault();
          }
        })
      });
      cell.addEventListener("blur", function() {
        // When the user clicks off a cell, remove all nonnumeric characters
        cell.innerHTML = cell.innerHTML.replace(/[^\d].+/, '');

        if (!cell.innerHTML) {
          return;
        }

        // Alert the user if the cell exceeds the maximum marks
        if (Number(cell.innerHTML) > MAX_MARKS_TEMP) {
          cell.classList.add("bg-danger");
          $("#markErrorModal").modal("show");
        }
        else {
          cell.classList.remove("bg-danger");
        }
      })
    });

    document.getElementById("saveButton").onclick = function () {
      // Validate marks on the client side as well as server side for better error display.
      let dataInvalid = false;

      // TODO: I think we should be submitting a form here, then the controller will validate it all?
      
      cells.forEach(function(cell) {
        if (Number(cell.innerHTML) > MAX_MARKS_TEMP) {
          cell.classList.add("bg-danger");
          dataInvalid = true;
        }
        else {
          cell.classList.remove("bg-danger");
        }
      });
  
      if (dataInvalid) {
        $("#markErrorModal").modal("show");
        return;
      }

      fetch("/facilitators/update_marking", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").getAttribute("content")
        },
        body: JSON.stringify({ 
          // TODO: FIll in stuff
        })
      })
      .then(response => response.json())
      .then(data => {
        if (data["status"] === "error") {
          //alert("Something went wrong...");
          alert(data["message"]);
        }
        else {
          window.location.href = data["redirect"];
        }
      })
      .catch(error => console.error('Error when updating marking:', error));



    };


    $("#markErrorModal").on("click", function(){
      $("#markErrorModal").modal("hide");
    });

    $("#cancelButton").on("click", function() {
      // To cancel the changes, just redirect back.
      // TODO: This could be done in the controller really...
      window.location.href = "#{facilitators_path}";
    });
  });

%button.btn.btn-success#saveButton Save
%button.btn.btn-danger#cancelButton Cancel