%h1 Projects - TEMP: Showing modules

-# Load all modules in the database
%hr.divider


= link_to '/facilitator', class: "project-link" do
    - @facilitator_projects.each_with_index do |project, i|
        = link_to "/facilitator/projects/#{i}", class: "project-link" do
            .project-button
                %h3
                    //= "#{project.course_module_code} - #{project.name}"
                    #{project.code} - #{project.name}

                    
