-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

%h1= "#{@current_group.assigned_facilitator.course_project.name} - #{@current_group.name}"
%hr.divider

= render 'team-members-card'

= render 'team-chat-card'

= render 'progress-forms-card'