.separating-section
  %h2
    Create Module 

= form_for @new_module, url: {action: "create"}, multipart: true, html: { id: 'new_module_form', method: :post } do |f|
  -# MODULE CODE
  .mb-3
    .input-group
      = f.label :code, "Module Code", class: "input-group-text fs-4 fw-semibold mb-0" 
      = f.text_field :code, class: "form-control fs-5 fw-semibold", id: "course_module_code", placeholder: "Code", required: true
    %h1.fs-6.fw-normal.fst-italic= "The Module Code must not be currently in use in the system - it must be unique."  
  
  -# MODULE NAME
  .mb-3
    .input-group
      = f.label :name, "Module Name", class: "input-group-text fs-4 fw-semibold mb-0" 
      = f.text_field :name, class: "form-control fs-5 fw-semibold", id: "course_module_name", placeholder: "Name", required: true
  
  -# MODULE LEADER
  .mb-3
    .input-group
      = f.label :staff_id, "Module Leader", class: "input-group-text fs-4 fw-semibold mb-0" 
      %input.form-control.fs-5.fw-semibold{ id: "new_module_lead_email", name: "new_module_lead_email",placeholder: "E-mail", autocomplete: "off", required: true}
  
  -# STUDENT CSV UPLOAD
  .mb-3
    .input-group
      = f.label :student_csv, "Module Student List (.csv)", class: "input-group-text fs-4 fw-semibold mb-0" 
      %input.form-control.fs-5.fw-semibold{ type: "file", id: "student_csv", name: "student_csv",accept: "text/csv", autocomplete: "off", required: true}
    %h1.fs-6.fw-normal.fst-italic= "Upload as a '.csv' file containing data for the chosen Module Code."  
  %hr.divider
  
  -# SUBMIT
  %button.btn.btn-primary{ type: "submit" }= "Submit"