-# Show the currently selected module and all available options

:javascript
  // Function to expand the section to maxHeight
  function expandSection(button) {
    var section = button.closest('.list-card');
    var container = section.querySelector('.card-body');
    var content = container.querySelector('.table');
    var maxHeight = window.getComputedStyle(content).height.replace('px', '');
    var maxHeight = window.getComputedStyle(content).height;

    container.style.height = maxHeight;
  }

  // Function to shrink the height of the section to 200 pixels
  function shrinkSection(button) {
    var section = button.closest('.list-card');
    var container = section.querySelector('.card-body');
    container.style.height = '200px';
  }

  // This is to ensure that you cant expand the card more than the content of the table
  document.querySelectorAll('.list-card .card-body').forEach(function(container) {
    var content = container.querySelector('.table');

    var resizeObserver = new ResizeObserver(function(event) {
      var maxHeight = window.getComputedStyle(content).height.replace('px', '');
      var containerHeight = event[0].contentRect.height;

      resizeObserver.disconnect();

      if (containerHeight > maxHeight) {
        container.style.height = maxHeight + 'px';
      }

      requestAnimationFrame(function() { resizeObserver.observe(container); });
    });

    resizeObserver.observe(container);
  });

.separating-section
  %h2
    #{@current_module.code + ' ' + @current_module.name}

  %hr.divider

  %h3
    Module Name
    %button.btn.btn-primary.btn-sm.m-2{type: "button", "data-bs-toggle": "modal",
       "data-bs-target": "#changeNameModal"}
      %i.bi.bi-pencil
      Change
  %p 
    #{@current_module.name}
  %h3
    Module Leader
    %button.btn.btn-primary.btn-sm.m-2{type: "button", "data-bs-toggle": "modal",
       "data-bs-target": "#changeEmailModal"}
      %i.bi.bi-pencil
      Change
  %p
    #{@module_lead.email}
  %h3
    Updated / Created
  %p
    #{@current_module.updated_at} / #{@current_module.created_at}
  %hr.divider

  %h3
    Module Student List
    %button.btn.btn-primary.btn-sm.m-2{type: "button", "data-bs-toggle": "modal",
       "data-bs-target": "#changeStudentListModal"}
      %i.bi.bi-pencil
      Change
  =render partial: 'student-list-box', locals: {students: @students}

.modal.fade{ id: "changeNameModal", tabindex: "-1", "aria-labelledby": "changeNameModal", "aria-hidden": "true", "data-disallow-confirm-empty-input": "" }
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        %h1.modal-title.fs-5= "Change Module Name"
        %button.btn-close{ "aria-label": "Close", "data-bs-dismiss": "modal", type: "button" }

      .modal-body
        %h1.fs-6.fw-normal.fst-italic= "Input a new Module Name only - the Module Code is unique and will not change."
        = form_tag admin_path, method: :patch, id: 'name_form' do
          .form-group
            %input.form-control.fs-5.fw-semibold{ id: "new_module_name", name: "new_module_name", placeholder: "Name", autocomplete: "off", required: true }
            %h1
          .modal-footer
            %button.btn.btn-primary{ type: "submit" }= "Confirm"

.modal.fade{ id: "changeEmailModal", tabindex: "-1", "aria-labelledby": "changeEmailModal", "aria-hidden": "true", "data-disallow-confirm-empty-input": "" }
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        %h1.modal-title.fs-5= "Change Module Leader"
        %button.btn-close{ "aria-label": "Close", "data-bs-dismiss": "modal", type: "button" }

      .modal-body
        %h1.fs-6.fw-normal.fst-italic= "Input the new Module Leader's '@sheffield.ac.uk' e-mail address."
        %h1.fs-6.fw-normal.fst-italic= "If they do not have an account on the system, one will be created for them."
        = form_tag admin_path, method: :patch, id: 'email_form' do
          .form-group
            %input.form-control.fs-5.fw-semibold{ type: "email", id: "new_module_lead_email", name: "new_module_lead_email",placeholder: "E-mail", autocomplete: "off", required: true}
            %h1
            %input.form-control.fs-5.fw-semibold{ type: "email", id: "new_module_lead_email_confirmation", name: "new_module_lead_email_confirmation",placeholder: "Confirm E-mail", autocomplete: "off", required: true}
            %h1
          .modal-footer
            %button.btn.btn-primary{ type: "submit" }= "Confirm"

.modal.fade{ id: "changeStudentListModal", tabindex: "-1", "aria-labelledby": "changeStudentListModal", "aria-hidden": "true", "data-disallow-confirm-empty-input": "" }
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        %h1.modal-title.fs-5= "Change Module Student List"
        %button.btn-close{ "aria-label": "Close", "data-bs-dismiss": "modal", type: "button" }

      .modal-body
        %h1.fs-6.fw-normal.fst-italic= "This will clear the student list and replace it with new students."
        %h1.fs-6.fw-normal.fst-italic= "To add MORE students to a module, use the Students tab."
        %h1.fs-6.fw-normal.fst-italic= "Upload as a '.csv' file containing data for this Module Code."  
        = form_tag admin_path,  method: :patch, multipart: true, id: 'student_form' do
          .form-group 
            %input.form-control.fs-5.fw-semibold{ type: "file", id: "new_module_student_list", name: "new_module_student_list", autocomplete: "off", accept: "text/csv", required: true}
            %h1
          .modal-footer
            %button.btn.btn-primary{ type: "submit" }= "Confirm"