-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

- unless mark_scheme.nil?
    - mark_scheme["sections"]&.each_with_index do |section, i|
        .fs-4.semi-bold= "Section #{i + 1}: #{section['title']}"

        %table.table.table-bordered
            %thead
                %tr
                    %th.bg-light
                        .d-flex.justify-content-between.align-items-baseline
                            Assessors
                            %i.bi.bi-plus.fs-4{
                                type: "button",
                                id: "add-assessor-to-section",
                                "data-bs-toggle": "modal",
                                "data-bs-target": "#add-assessor-to-section-modal",
                                onclick: "updateSectionIndex(#{i});"}

                    %th.bg-light
                        .d-flex.justify-content-between.align-items-baseline
                            Teams
                            %button.btn.btn-outline-primary.btn-sm{
                                type: "button",
                                id: "auto-assign-section",
                                onclick: "autoAssignSection(#{i});"} Auto Assign


            %tbody
                - unless section["assessors"].nil?
                    - section["assessors"].each do |email, teams|
                        %tr
                            %td
                                .d-flex.justify-content-between.align-items-baseline.gap-3
                                    %p.mr-3= email
                                    %i.bi.bi-trash-fill{
                                        type: "button",
                                        id: "remove-assessor-from-section",
                                        onclick: "removeAssessor(#{i}, '#{email}');"}

                            %td
                                .d-flex.justify-content-between.align-items-baseline.gap-3
                                    = teams.nil? ? "" : teams.map{|id| Group.find(id).name}.join(", ")
                                    %i.bi.bi-pencil-fill{
                                        type: "button",
                                        id: "edit-assessor-section-teams",
                                        "data-bs-toggle": "modal",
                                        "data-bs-target": "#assign-teams-modal",
                                        onclick: "populateAssignTeams(#{i}, '#{email}')"}

        %hr.divider