-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

!!!
%html
  %head
    %title Issue has been #{@status}
  %body
    %p Issue has been #{@status}:
    %p Module: #{@course_module.code}
    %p Project: #{@course_project.name}
    %p Group: #{@group.name}
    %p Reported by: #{@issue.json_data['author']}

    %hr

    %p Title: #{@issue.json_data['title']}
    %p Issue: #{@issue.json_data['content']}
    %a{ href: @url } Click here to view the issue