-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

:plain
  var currentIssue = $('#hidden-partial-container-#{params["issue_id"]}');
  var previousIssue = currentIssue.prev();
  currentIssue.remove();
  var newPartialHTML = "#{j(render(partial: 'issue-box', locals: { issue: Event.find(params["issue_id"]) }))}";
  $(previousIssue).after(newPartialHTML);

  var divider = $('#issues-section');
  var updatedPartialHTML = "#{j(render(partial: 'issues-section', locals: { issue: Event.find(params["issue_id"]) }))}";
  $(divider).html(updatedPartialHTML);

  if ("#{params[:selected_order]}" == "Created At") {
    var collapseElement = $('#issue-card-#{params["issue_id"]} .collapse');
    collapseElement.addClass('show');
    $('#card-header-#{params["issue_id"]}').attr('aria-expanded', 'true');
  } else {
    var collapseElement = $('#issue-card-#{params["issue_id"]} .collapse');
    collapseElement.addClass('show');
    $('#card-header-#{params["issue_id"]}').attr('aria-expanded', 'true');
    var elementToScrollTo = document.getElementById('hidden-partial-container-#{params["issue_id"]}');
    elementToScrollTo.scrollIntoView();
  }

  var issueBoxContainer = $('#issue-box-container-#{params["issue_id"]}');

  if (issueBoxContainer.length) {
    if (issueBoxContainer.get(0).scrollHeight > issueBoxContainer.innerHeight()) {
      issueBoxContainer.scrollTop(issueBoxContainer.get(0).scrollHeight);
    }
  };

  var openIssueSection = $('#open-issues-section');
  var resolvedIssueSection = $('#resolved-issues-section');
  var openToggleStatus = $('#flexSwitchCheckOpen').prop('checked');
  var resolvedToggleStatus = $('#flexSwitchCheckResolved').prop('checked');

  if (openToggleStatus) {
    openIssueSection.removeClass('display-none');
  } else {
      openIssueSection.addClass('display-none');
  }

  if (resolvedToggleStatus) {
    resolvedIssueSection.removeClass('display-none');
  } else {
      resolvedIssueSection.addClass('display-none');
  }

  var issuesBtn = $('#issues-btn');
  var notificationNeeded = #{current_user.issue_notification?};

  if (notificationNeeded) {
    issuesBtn.html('<a href="#{issues_url}" class="btn btn-light">Issues <i class="bi bi-exclamation-diamond-fill icon-pad-nav"></i></a>');
  } else {
    issuesBtn.html('<a href="#{issues_url}" class="btn btn-light">Issues</a>');
  };