-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

.separating-section
  %h2.fs-3 Personal Information

  %hr.divider

  %strong.m-0.fs-5.fw-medium Surname:
  %i.fs-5= current_user.sn
  %p
  %strong.m-0.fs-5.fw-medium Forename(s):
  %i.fs-5= current_user.givenname
  %p
  %strong.m-0.fs-5.fw-medium Email:
  %i.fs-5= current_user.email
  %p
  - if current_user.is_student?
    %strong.m-0.fs-5.fw-medium Preferred Name:
    %i.fs-5= current_user.student.preferred_name
    %p
    %strong.m-0.fs-5.fw-medium Title:
    %i.fs-5= current_user.student.title
    %button.btn.btn-primary.btn-m.m-2{type: "button", "data-bs-toggle": "modal",
       "data-bs-target": "#changeGenderModal"}
      Request Title Change

  -# %hr.divider

  -# - if current_user.is_student?
  -#   %button.btn.btn-primary.btn-m.m-2{type: "button", "data-bs-toggle": "modal",
  -#      "data-bs-target": "#changeGenderModal"}
  -#     Request Title Change


.modal.fade{ id: "changeGenderModal", tabindex: "-1", "aria-labelledby": "changeGenderModal", "aria-hidden": "true", "data-disallow-confirm-empty-input": "" }
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        %h1.modal-title.fs-5= "Request Title Change"
        %button.btn-close{ "aria-label": "Close", "data-bs-dismiss": "modal", type: "button" }

      .modal-body
        %h1.fs-6.fw-normal.fst-italic= "send email to admin here"
