- ran_num = "#{SecureRandom.hex(5)}"  # Generate a unique ID
- unique_id = "accordion-card-" + ran_num
- unique_id_collapse = "accordion-collapse-card-" + ran_num

.card.mb-2.accordion-element
  %a.card-header.d-flex.justify-content-between.align-items-center{
  "data-bs-toggle" => "collapse",
  href: "##{unique_id_collapse}",
  role: "button",
  "data-accordion-toggle" => "",
  "aria-expanded" => "false",
  "aria-controls" => unique_id_collapse, id:ran_num}
    .d-flex.align-items-center.gap-3{ style: "flex: 1;" }
      %table{ style: "flex: 1;" }
        %tbody
          %tr.d-flex
            %td{ style: "flex: 1;" }
              %h2.fs-4{ class: "m-0 p-0" } #{team_name}
            %td.d-flex.gap-2{ style: "flex: 3;" }
              %h2.fs-4{ class: "m-0 p-0" } Facilitator: #{ button_tag '', type: 'button', class: "btn btn-light fs-8 bi-pencil-square", style: "height: auto;" } #{team_facilitator}
            %td{ class: "pr-4" }
              #{ button_tag ' Email Team', type: 'button', class: "btn btn-secondary fs-8 bi-envelope-at mr-4", style: "height: auto;" }

    %i.bi.bi-caret-right-fill
  .collapse{id: unique_id_collapse}
    .card-body.list-card{id: unique_id}
      %div.overflow-auto
        .d-flex.justify-content-between
          -# %h3.fs-6 Group Members
          .row
        %table.table
          %thead
            %tr
              %th{scope: "col"}
              %th{scope: "col"} Name
              %th{scope: "col"} Email
              %th{scope: "col"} Registration Number
            %tbody
              - 5.times do
                %tr
                  %td
                    %input.form-check-input{type: "checkbox", value: ""}
                  %td Jakub Bala
                  %td jbala1@sheffield.ac.uk
                  %td 11294124
              %tr
                %td.bg-secondary.rounded-start-4
                  = button_tag '+', type: 'button', class: "btn btn-primary", style: "height: auto;"
                %td.bg-secondary Add Student
                %td.bg-secondary.rounded-end-4
                  %input.form-control.mr-sm-2{type: "search", id: "team_add_student", placeholder: "Student Email", aria: {label: "Search"}, autocomplete: "email"}
                %td
                  = button_tag 'Remove Selected Students', type: 'button', class: "btn btn-secondary fs-8", style: "height: auto;"