-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

.hidden-partial-container#chat-box
  - unique_id = "collapseIssue_#{SecureRandom.hex(4)}" # Generate a unique ID using SecureRandom

  .card.issue-card.mb-2.accordion-element#chat-box-card
    %a.card-header.d-flex.justify-content-between.align-items-center{ id: "card-header", "data-bs-toggle" => "collapse",
    href: "##{unique_id}",
    role: "button",
    "data-accordion-toggle" => "",
    "aria-expanded" => "false",
    "aria-controls" => unique_id}
      .d-flex.align-items-center
        %h3.m-0.fs-5.fw-medium Team Chat
        %span
          - if Event.chat_notification?(current_user, @current_group)
            %i.bi.bi-exclamation-diamond-fill.icon-pad
      %i.bi.bi-caret-right-fill
    .collapse{id: unique_id}
      .card-body.pt-1.pb-1
        - if @chat_messages.nil? || @chat_messages.empty?
          .d-flex.justify-content-center
            %i.fs-6.fw-light.pt-4.pb-4 No chats yet. Be the first!
        - else
          .container#chat-box-container
            .row
              .scrollable
                .d-flex.justify-content-center
                  %i.fs-6.fw-light.pt-2.pb-3 Start of chat history
                // Renders all the chat messages for group
                - @chat_messages.each do |chat_message|
                  .d-flex.align-items-center.justify-content-between.pb-2
                    - if (current_user.is_staff? && chat_message.staff_id == current_user.staff.id) || (current_user.is_student? && chat_message.student_id == current_user.student.id)
                      .d-flex.w-100.justify-content-end
                        .w-75
                          .issue-text.border.p-2{ style: "background-color: lavender; border-radius: 10px;" }
                            .fs-6 #{chat_message.json_data['content']}
                          .d-flex.align-items-center.justify-content-between.pb-2
                            .fw-light{ style: "font-size: 14px; padding-left: 4px;" } From: #{chat_message.json_data['author']}
                            .fw-light{ style: "font-size: 14px; padding-right: 4px;" } #{DateTime.parse(chat_message.json_data['timestamp']).strftime("%H:%M %d/%m/%Y")}
                    - elsif (!chat_message.staff_id.nil? && chat_message.staff_id == @current_group.assigned_facilitator.staff_id) || (!chat_message.student_id.nil? && chat_message.student_id == @current_group.assigned_facilitator.student_id)
                      .d-flex.w-100.justify-content-start
                        .w-75
                          .issue-text.border.p-2{ style: "background-color: #FFFFE0; border-radius: 10px;" }
                            .fs-6 #{chat_message.json_data['content']}
                          .d-flex.align-items-center.justify-content-between.pb-2
                            .fw-light{ style: "font-size: 14px; padding-left: 4px;" } From: #{chat_message.json_data['author']} [Facilitator]
                            .fw-light{ style: "font-size: 14px; padding-right: 4px;" } #{DateTime.parse(chat_message.json_data['timestamp']).strftime("%H:%M %d/%m/%Y")}
                    - else
                      .d-flex.w-100.justify-content-start
                        .w-75
                          .issue-text.border.p-2{ style: "background-color: #f0f0f0; border-radius: 10px;" }
                            .fs-6 #{chat_message.json_data['content']}
                          .d-flex.align-items-center.justify-content-between.pb-2
                            .fw-light{ style: "font-size: 14px; padding-left: 4px;" } From: #{chat_message.json_data['author']}
                            .fw-light{ style: "font-size: 14px; padding-right: 4px;" } #{DateTime.parse(chat_message.json_data['timestamp']).strftime("%H:%M %d/%m/%Y")}

        %hr.divider

        // Form for sending a chat message
        = form_with(url: "/projects/#{@current_group.id}/send-chat-message", method: "post", local: false, id: "chat-form") do |form|
          %input{ type: "hidden", name: "group_id", value: "#{@current_group.id}"}
          %input{ type: "hidden", name: "author", value: "#{current_user.givenname} #{current_user.sn}"}
          .form_group
            = form.text_area :message, class: "form-control pt-2 pb-2 mb-2", placeholder: "Enter your message here", id: "chat-textarea", required: true
          .d-flex.justify-content-end.mb-2
            %button.btn.btn-primary{type: "submit", class: "btn btn-primary me-2", id: "send-chat", remote: true }
              %i.bi.bi-send-fill
              Send

// JavaScript for handling scrolling to the bottom of the chat box when its opened
:javascript
  document.addEventListener('DOMContentLoaded', function() {
    $('#chat-box-card').on('shown.bs.collapse', function () {
      var chatBoxContainer = $('#chat-box-container');
      var chatBoxSection = chatBoxContainer.closest('.card');

      // Check if chatBoxContainer and chatBoxSection are defined and not null
      if (chatBoxContainer.length && chatBoxSection.length) {
        // Check if chatBoxContainer is scrollable
        if (chatBoxContainer.get(0).scrollHeight > chatBoxContainer.innerHeight()) {
          chatBoxContainer.scrollTop(chatBoxContainer.get(0).scrollHeight);
        }

        // Check if chatBoxSection is scrollable
        if (chatBoxSection.get(0).scrollHeight > chatBoxSection.innerHeight()) {
          chatBoxSection.get(0).scrollIntoView();
        }
      }
    });
  });

