-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

- ran_num = "#{SecureRandom.hex(5)}"  # Generate a unique ID
- unique_id = "accordion-card-" + ran_num
- unique_id_collapse = "accordion-collapse-card-" + ran_num

.card.mb-2.accordion-element.project-teams-team-container{id: "project_team_container_#{team.id}"}
  %a.card-header.d-flex.justify-content-between.align-items-center{
  "data-bs-toggle" => "collapse",
  href: "##{unique_id_collapse}",
  role: "button",
  "data-accordion-toggle" => "",
  "aria-expanded" => "false",
  "aria-controls" => unique_id_collapse, id:ran_num}
    .d-flex.align-items-center.gap-3{ style: "flex: 1;" }
      %table{ style: "flex: 1;" }
        %tbody
          %tr.d-flex.justify-content-between.row
            - violation_level = team.find_allocation_violations
            - if violation_level == 3
              .team-violations-container{ text: "Severe Team Allocation Violations" }
                %i.bi.bi-circle-fill.fill-red
            - elsif violation_level == 2
              .team-violations-container{ text: "Moderate Team Allocation Violations" }
                %i.bi.bi-circle-fill.fill-yellow
            - else
              .team-violations-container{ text: "No Team Allocation Violations" }
                %i.bi.bi-circle-fill.fill-green
            %td.col-2
              .fs-5.m-0.p-0 #{team.name}
            %td.d-flex.gap-2.col
              .fs-5.m-0.p-0.facilitator-text
                Facilitator: #{team.assigned_facilitator.nil? ? "Not assigned" : team.assigned_facilitator.get_email} 
            - if @current_project.subprojects.present?
              %td.d-flex.gap-2.col
                .fs-5.m-0.p-0.f.project-choice-text
                  Project: #{team.subproject.nil? ? "Not assigned" : team.subproject.name}

    %i.bi.bi-caret-right-fill
  .collapse{id: unique_id_collapse}
    .card-body.list-card{id: unique_id}
      %input{ type: "hidden", name: "team_id", value: "#{team.id}" }
      %div.overflow-auto
        = button_tag '', type: 'button', class: "btn btn-light fs-6 edit-facilitator-btn", style: "height: auto;" do
          %i.bi.bi-pencil-square
          Edit Facilitator
        - if @current_project.subprojects.present?
          = button_tag '', type: 'button', class: "btn btn-light fs-6 edit-project-choice-btn", style: "height: auto;" do
            %i.bi.bi-pencil-square
            Edit Project Choice

        .d-flex.justify-content-between
          -# %h3.fs-6 Group Members

        %table.table.selectable-row-container
          %thead
            %tr
              %th{scope: "col"}
              %th{scope: "col"} Name
              %th{scope: "col"} Email
              %th{scope: "col"} UCard Number
              %th{scope: "col"} 
            %tbody
              - team.students.each do |student|
                %tr.selectable-row
                  %td
                    %input.form-check-input{type: "checkbox", value: ""}
                  %td= "#{student.preferred_name + " " + student.surname}"
                  %td= student.email
                  %td= student.ucard_number
                  %td
                    - violations_hash = student.find_preference_violations(team)
                    .student-violations-container{ text: violations_hash.values.first }
                      - if violations_hash.keys.first == 3
                        %i.bi.bi-circle-fill.fill-red
                      - elsif violations_hash.keys.first == 2
                        %i.bi.bi-circle-fill.fill-yellow
                      - else
                        %i.bi.bi-circle-fill.fill-green

        = button_tag 'Add Students', type: 'button', class: "btn btn-primary", style: "height: auto;"

        = button_tag 'Remove Selected Students', type: 'button', class: "btn btn-secondary fs-8", style: "height: auto;"

:javascript
  document.addEventListener('DOMContentLoaded', function() {
    var hoverTextContainers = document.querySelectorAll('.team-violations-container');

    hoverTextContainers.forEach(function(container) {
      var hoverText = container.getAttribute('text');
      container.removeAttribute('text');

      var text = document.createElement('span');
      text.classList.add('team-violations-text');
      text.textContent = hoverText;
      container.appendChild(text);
    });
  });

  document.addEventListener('DOMContentLoaded', function() {
    var hoverTextContainers = document.querySelectorAll('.student-violations-container');

    hoverTextContainers.forEach(function(container) {
      var hoverText = container.getAttribute('text');
      container.removeAttribute('text');

      var text = document.createElement('span');
      text.classList.add('student-violations-text');
      text.textContent = hoverText;
      container.appendChild(text);
    });
  });
