-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

- ran_num = "#{SecureRandom.hex(5)}"  # Generate a unique ID
- unique_id = "accordion-card-" + ran_num
- unique_id_collapse = "accordion-collapse-card-" + ran_num

.card.mb-2.accordion-element
  %a.card-header.d-flex.justify-content-between.align-items-center{
  "data-bs-toggle" => "collapse",
  href: "##{unique_id_collapse}",
  role: "button",
  "data-accordion-toggle" => "",
  "aria-expanded" => "false",
  "aria-controls" => unique_id_collapse, id:ran_num}
    .d-flex.align-items-center.gap-3{ style: "flex: 1;" }
      %table{ style: "flex: 1;" }
        %tbody
          %tr.d-flex
            %td{ style: "flex: 1;" }
              .fs-5{ class: "m-0 p-0" } #{team.name}
            %td.d-flex.gap-2{ style: "flex: 3;" }
              .fs-5{ class: "m-0 p-0" } Facilitator: #{team.assigned_facilitator.nil? ? "Not assigned" : team.assigned_facilitator.get_email} #{ button_tag '', type: 'button', class: "btn btn-light fs-8 bi-pencil-square", style: "height: auto;" }

    %i.bi.bi-caret-right-fill
  .collapse{id: unique_id_collapse}
    .card-body.list-card{id: unique_id}
      %div.overflow-auto
        .d-flex.justify-content-between
          -# %h3.fs-6 Group Members

        %table.table
          %thead
            %tr
              %th{scope: "col"}
              %th{scope: "col"} Name
              %th{scope: "col"} Email
              %th{scope: "col"} UCard Number
            %tbody
              - team.students.each do |student|
                %tr
                  %td
                    %input.form-check-input{type: "checkbox", value: ""}
                  %td= student.preferred_name
                  %td= student.email
                  %td= student.ucard_number

        = button_tag 'Add Students +', type: 'button', class: "btn btn-primary", style: "height: auto;"

        = button_tag 'Remove Selected Students -', type: 'button', class: "btn btn-secondary fs-8", style: "height: auto;"