-# Load all projects tied to the user
-# Students see all their projects and alert markers

.separating-section
    %h2
        Projects
    %hr.divider

    - @projects.each do |project|
        = link_to project_url(project.id), class: "project-link" do
            .project-button
                %h3
                    #{project.course_module.code} #{project.course_module.name} - #{project.name}
                    .sub-status
                        #{ViewHelper.unparamaterize project.status}
                        -#Change colour according to deadlines or status????
                        %i.bi.bi-circle-fill.fill-green