-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

-# Load all Projects that are tied to the user
-# Have a different display of the projects depending on role:
-#  Students see their projects and any alert markers
-#  Module Leaders see projects divided by their status

.separating-section
    .d-flex.align-items-center.justify-content-between
        %h2.fs-3
            Projects

        - if @course_modules != 0
            = link_to new_project_path, class: 'btn btn-primary' do
                %i.bi.bi-plus-square-fill
                Create New
    %hr.divider

- if @course_modules == 0
    .d-flex.justify-content-center
        %i.fs-6 You are not a part of any modules currently, if you should be, please contact an admin.

- live_projects = @projects.select { |project| project.status == 'live' }
- if live_projects.present?
    .separating-section
        %h2
            %i.bi.bi-circle-fill.fill-green
            Live
        - live_projects.each do |project|
            = link_to teams_project_path(project.id), class: "project-link" do
                .project-button
                    %h3
                        #{project.course_module.code} #{project.course_module.name} - #{project.name}
                        -# .sub-status
                        -#     #{ViewHelper.unparamaterize project.status}

        %hr.divider

-# This section holds projects where they are in student/team preference, but responses have been recieved

-# - review_projects = @projects.select { |project| project.status == 'student_preference' || project.status == 'team_preference'}
-# - review_projects.present?
-#     .separating-section
-#         %h2
-#             %i.bi.bi-circle-fill.fill-yellow
-#             Reviewing Teams / Project Allocation
-#         - review_projects.each do |project|
-#         = link_to project_url(project.id), class: "project-link" do
-#             .project-button
-#                 %h3
-#                     #{project.course_module.code} #{project.course_module.name} - #{project.name}

-#         %hr.divider


-# This section holds projects where they are in student/team preference, but responses

-# - awaiting_projects = @projects.select { |project| project.status == 'student_preference' || project.status == 'team_preference'}
-# - awaiting_projects.present?
-#     .separating-section
-#         %h2
-#             %i.bi.bi-circle-fill.fill-red
-#             Awaiting Teams / Project Preference Form
-#         - awaiting_projects.each do |project|
-#         = link_to project_url(project.id), class: "project-link" do
-#             .project-button
-#                 %h3
-#                     #{project.course_module.code} #{project.course_module.name} - #{project.name}

-#         %hr.divider

- draft_projects = @projects.select { |project| project.status == 'draft'}
- if draft_projects.present?
    .separating-section
        %h2
            %i.bi.bi-pencil-fill
            Drafting
        - draft_projects.each do |project|
            = link_to teams_project_path(project.id), class: "project-link" do
                .project-button
                    %h3
                        #{project.course_module.code} #{project.course_module.name} - #{project.name}

        %hr.divider

-# - archived_projects = @projects.select { |project| project.status == 'archived'}
-# - archived_projects.present?
-#     .separating-section
-#         %h2
-#             %i.bi.bi-circle-fill.fill-red
-#             Archived
-#         - archived_projects.each do |project|
-#         = link_to project_url(project.id), class: "project-link" do
-#             .project-button
-#                 %h3
-#                     #{project.course_module.code} #{project.course_module.name} - #{project.name}

-#         %hr.divider