-# Load all projects tied to the user
-# Students see all their projects and alert markers

.separating-section
    %h2
        Activity Feed
    %hr.divider

    - if @milestones.length > 0
        .container#activity-feed-container
            .row
                .scrollable
                    - @milestones.each do |milestone|
                        .card.mb-2
                            .card-body.pb-2.pt-2
                                %h5.card-title= "#{milestone.course_module.code} #{milestone.course_project.name} - #{milestone.json_data["Name"]}"
                                %p.card-text.mb-1
                                %strong Due in:
                                = "#{(milestone.deadline - DateTime.now).to_i} days"
                                %br
                                - unless milestone.json_data["Comment"].nil?
                                    - if milestone.json_data["Comment"].length > 0
                                        %strong Comment:
                                        = milestone.json_data["Comment"]
    - else 
        .d-flex.justify-content-center
            %i.fs-6.fw-light No Activity

    %br
    %h2
        Projects
    %hr.divider

    - @projects.each do |project|
        = link_to project_url(project.id), class: "project-link", id: "project-button-#{project.id}" do
            .project-button
                %h3
                    #{project.course_module.code} #{project.course_module.name} - #{project.name}
                    .sub-status
                        #{ViewHelper.unparamaterize project.status}
                        -#Change colour according to deadlines or status????
                        %i.bi.bi-circle-fill.fill-green
