-# Load all projects tied to the user
-# Students see all their projects and alert markers

.separating-section
    %h2
        Activity Feed
    %hr.divider

    .container
        .row
            .scrollable
                - @projects.each do |project|
                    - project.milestones.each do |milestone|
                        .card
                            .card-body
                                %h5.card-title= "#{milestone.course_module.code} #{milestone.course_project.name} - #{milestone.json_data["Name"]}"
                                %p.card-text
                                %strong Due in:
                                = "#{(milestone.deadline - DateTime.now).to_i} days"
                                %br
                                %strong Type:
                                = milestone.milestone_type
                                %br
                                - if milestone.json_data["Comment"].length > 0
                                    %strong Comment:
                                    = milestone.json_data["Comment"]


    %br
    %h2
        Projects
    %hr.divider

    - @projects.each do |project|
        = link_to project_url(project.id), class: "project-link" do
            .project-button
                %h3
                    #{project.course_module.code} #{project.course_module.name} - #{project.name}
                    .sub-status
                        #{ViewHelper.unparamaterize project.status}
                        -#Change colour according to deadlines or status????
                        %i.bi.bi-circle-fill.fill-green
