
-# Load all Projects that are tied to the user
-# Have a different display of the projects depending on role:
-#  Students see their projects and any alert markers
-#  Module Leaders see projects divided by their status

.seperating-section
    %h2
        Activity Feed
    %hr.divider

    .container
        .row
            .scrollable
                - @projects.each do |project|
                    - project.milestones.each do |milestone|
                        .card
                            .card-body
                                %h5.card-title= "#{milestone.course_module.code} #{milestone.course_project.name} - #{milestone.json_data["Name"]}"
                                %p.card-text
                                %strong Due in:
                                = "#{(milestone.deadline - DateTime.now).to_i} days"
                                %br
                                %strong Type:
                                = milestone.milestone_type
                                %br
                                - if milestone.json_data["Comment"].length > 0
                                    %strong Comment:
                                    = milestone.json_data["Comment"]

.separating-section
    %h2
        Your Projects
    %hr.divider

.flex-end
    - if @course_modules != 0
        = link_to new_project_path, class: 'btn btn-primary' do
            %i.bi.bi-plus-square-fill
            Create New
    - else
        %p You are not a part of any modules currently, if you should be, please contact an admin.

.separating-section
    - @projects.each do |project|
        = link_to project_url(project.id), class: "project-link" do
            .project-button
                %h3
                    #{project.course_module.code} #{project.course_module.name} - #{project.name}
                    .sub-status
                        #{ViewHelper.unparamaterize project.status}
                        -#Change colour according to deadlines or status????
                        %i.bi.bi-circle-fill.fill-green

-# .separating-section
-#     %h2
-#         %i.bi.bi-circle-fill.fill-green
-#         Live

-#     = render partial:'project-button', locals: { project_id: 0 }
-#     = render partial:'project-button', locals: { project_id: 0 }
-#     %hr.divider

-# .separating-section
-#     %h2
-#         %i.bi.bi-circle-fill.fill-yellow
-#         Reviewing Teams / Project Allocation

-#     = render partial:'project-button', locals: { project_id: 0 }
-#     = render partial:'project-button', locals: { project_id: 0 }
-#     %hr.divider

-# .separating-section
-#     %h2
-#         %i.bi.bi-circle-fill.fill-red
-#         Awaiting Teams / Project Preference Form

-#     = render partial:'project-button', locals: { project_id: 0 }
-#     = render partial:'project-button', locals: { project_id: 0 }
-#     %hr.divider

-# .separating-section
-#     %h2
-#         %i.bi.bi-pencil-fill
-#         Drafting

-#     = render partial:'project-button', locals: { project_id: 0 }
-#     = render partial:'project-button', locals: { project_id: 0 }
-#     %hr.divider

-# .separating-section
-#     %h2
-#         %i.bi.bi-archive-fill
-#         Archived

-#     = render partial:'project-button', locals: { project_id: 0 }
-#     = render partial:'project-button', locals: { project_id: 0 }