-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

-# Show all features students get for chosen project
#success-message.alert.alert-success{style: "display: none;"}
    Issue submitted successfully!

.separating-section
    .d-flex.align-items-center.justify-content-between
        %h2
            #{@proj_name}
        -if @show_group_information
            .flex-end
                %button.btn.btn-primary.btn-m.m-2{type: "button", "data-bs-toggle": "modal",
                   "data-bs-target": "#reportIssueModal"}
                    %i.bi.bi-exclamation-circle.orange
                    Report Issue

    - if @show_group_information
        %h2.fs-4
            #{@group_name}
    - else
        .d-flex
            %i.fs.6.fw-light No Team Currently Assigned

    - unless @subproject.nil?
        - if @subproject.is_a?(Subproject)
            %h2.fs-4
                #{@subproject.name}
        - else
            .d-flex
                %i.fs.6.fw-light #{@subproject}

    %hr.divider

    -if @current_project.status == "preparation"
        -if @show_pref_form
            = render partial: 'course_project/components/pref-form-box'

        -if @show_proj_form
            = render partial: 'course_project/components/project-choices-box'

        -if !@show_pref_form && !@show_proj_form
            .d-flex.justify-content-center
                %i.fs-6.fw-light No Action Required

    - elsif @current_project.status == "review"
        .d-flex.justify-content-center
            %i.fs-6.fw-light Project is Under Review
    - elsif @current_project.status == "archived"
        .d-flex.justify-content-center
            %i.fs-6.fw-light Project is Archived

    -else
        - if @show_proj_form
            = render partial: 'course_project/components/project-choices-box'
            %hr.divider
        - elsif @show_group_information
            %h2.fs-4
                Activity Feed
            %hr.divider
            - if @current_group.events.where(event_type: [:milestone, :generic]).length > 0
                .container#activity-feed-container
                    .row
                        .scrollable
                            - @current_group.events.where(event_type: [:milestone, :generic]).order(created_at: :desc).each do |event|
                                .card.mb-2
                                    .card-body.pb-2.pt-2
                                        .card-titled-flex.d-flex.justify-content-between.align-items-center
                                            .fs-5.fw-semibold= event.json_data['Name']
                                            .fs-6.fw-light #{event.created_at.strftime("%d/%m/%Y %H:%M")}
                                        %p.card-text.mb-1
                                            - if event.milestone and !event.milestone.executed
                                                - case event.json_data['Urgency']
                                                - when 0
                                                    %i{ class: "bi bi-exclamation-square-fill text-primary" }
                                                - when 1
                                                    %i{ class: "bi bi-exclamation-square-fill text-warning" }
                                                - when 2
                                                    %i{ class: "bi bi-exclamation-square-fill text-danger" }
                                            - if event.json_data['Comment'] && event.json_data['Comment'].length > 0
                                                %strong= event.json_data["Comment"]
                                            - if event.json_data["Reminder"]
                                                %p{ style: "font-style: italic;" } Reminder

            - else
                .d-flex.justify-content-center
                    %i.fs-6.fw-light No Activity

                %h2

        %h2.fs-4
            Project Information
        %hr.divider

        = render partial: 'course_project/components/staff-info-box'

        -if @show_group_information
            = render partial: 'course_project/components/team-info-box'

        = render partial: 'course_project/components/deadlines-info-box'
        = render partial: 'course_project/components/mark-scheme-box'

        -if @show_group_information && @current_project.status == "live"
            = render partial: 'course_project/components/team-chat-box'

.modal.fade{ id: "reportIssueModal", tabindex: "-1", "aria-labelledby": "reportIssueModal", "aria-hidden": "true", "data-disallow-confirm-empty-input": "" }
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable#reportIssueModalDialog
        .modal-content{id: "modalContent"}
            = form_with(url: "/issues", method: "post", local: false, id: "issue-form") do |form|
                .modal-header
                    %h1.modal-title.fs-5= "Report Issue"
                    %button.btn-close{ "aria-label": "Close", "data-bs-dismiss": "modal", type: "button" }
                    %input{ type: "hidden", name: "project_id", value: "#{@current_project.id}"}
                    %input{ type: "hidden", name: "author", value: "#{current_user.givenname} #{current_user.sn}"}
                .modal-body
                    .form-group
                        = form.label :title
                        = form.text_field :title, class: "form-control", placeholder: "Enter issue title", required: true
                    .form-group
                        = form.label :description
                        = form.text_area :description, class: "form-control", rows: 5, placeholder: "Enter issue description", required: true
                .modal-footer
                    %button.btn.btn-primary{ type: "submit", id: "submit-form" } Submit



