-# Show all features students get for chosen project
#success-message.alert.alert-success{style: "display: none;"}
    Issue submitted successfully!

.separating-section
    .d-flex.align-items-center.justify-content-between
        %h2
            #{@proj_name}
        -if @show_group_information
            .flex-end
                %button.btn.btn-primary.btn-m.m-2{type: "button", "data-bs-toggle": "modal",
                   "data-bs-target": "#reportIssueModal"}
                    %i.bi.bi-exclamation-circle.orange
                    Report Issue

    %h2
        -if @show_group_information
            #{@group_name}

    - if !@show_group_information
        .d-flex
            %i.fs.6.fw-light Not yet assigned to a team
    %hr.divider

    - if @show_group_information
        %h2
            Activity Feed
        %hr.divider
        - if @current_group.events.where(event_type: [:milestone, :generic]).length > 0
            .container#activity-feed-container
                .row
                    .scrollable
                        - @current_group.events.where(event_type: [:milestone, :generic]).each do |event|
                            - event_data = JSON.parse(event.json_data)
                            .card.mb-2
                                .card-body.pb-2.pt-2
                                    .card-titled-flex.d-flex.justify-content-between.align-items-center
                                        .fs-5.fw-semibold= event_data['Name']
                                        .fs-6.fw-light #{event.created_at.strftime("%d/%m/%Y %H:%M")}
                                    %p.card-text.mb-1
                                        - if event_data['Comment'].length > 0
                                            %strong Comment:
                                            = event_data["Comment"]

        - else 
            .d-flex.justify-content-center
                %i.fs-6.fw-light No Activity

        %hr.divider

    -if @show_pref_form
        = render partial: 'course_project/components/pref-form-box'

    -if @show_group_information && @show_proj_form
        = render partial: 'course_project/components/project-choices-box'

    = render partial: 'course_project/components/staff-info-box'

    -if @show_group_information
        = render partial: 'course_project/components/team-info-box'

    = render partial: 'course_project/components/deadlines-info-box'
    = render partial: 'course_project/components/mark-scheme-box'

    -if @show_group_information
        = render partial: 'course_project/components/team-chat-box'

.modal.fade{ id: "reportIssueModal", tabindex: "-1", "aria-labelledby": "reportIssueModal", "aria-hidden": "true", "data-disallow-confirm-empty-input": "" }
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable#reportIssueModalDialog
        .modal-content{id: "modalContent"}
            = form_with(url: "/issues", method: "post", local: false, id: "issue-form") do |form|
                .modal-header
                    %h1.modal-title.fs-5= "Report Issue"
                    %button.btn-close{ "aria-label": "Close", "data-bs-dismiss": "modal", type: "button" }
                    %input{ type: "hidden", name: "project_id", value: "#{@current_project.id}"}
                    %input{ type: "hidden", name: "author", value: "#{current_user.givenname} #{current_user.sn}"}
                .modal-body
                    .form-group
                        = form.label :title
                        = form.text_field :title, class: "form-control", placeholder: "Enter issue title", required: true
                    .form-group
                        = form.label :description
                        = form.text_area :description, class: "form-control", rows: 5, placeholder: "Enter issue description", required: true
                .modal-footer
                    %button.btn.btn-primary{ type: "submit", id: "submit-form" } Submit



