.separating-section
  %h2 Personal Information

.separating-section
  %h3.m-0.fs-5.fw-medium Surname: #{current_user.sn}
  %p
  %h3.m-0.fs-5.fw-medium Forename(s): #{current_user.givenname}
  %p
  %h3.m-0.fs-5.fw-medium Email: #{current_user.email}
  %p
  - if current_user.is_student?
    %h3.m-0.fs-5.fw-medium Preferred Name: #{current_user.student.preferred_name}
    %p
    %h3.m-0.fs-5.fw-medium Title: #{current_user.student.title}

  %hr.divider

  - if current_user.is_student?
    %button.btn.btn-primary.btn-m.m-2{type: "button", "data-bs-toggle": "modal",
       "data-bs-target": "#changeGenderModal"}
      Request Title Change


.modal.fade{ id: "changeGenderModal", tabindex: "-1", "aria-labelledby": "changeGenderModal", "aria-hidden": "true", "data-disallow-confirm-empty-input": "" }
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header
        %h1.modal-title.fs-5= "Request Title Change"
        %button.btn-close{ "aria-label": "Close", "data-bs-dismiss": "modal", type: "button" }

      .modal-body
        %h1.fs-6.fw-normal.fst-italic= "send email to admin here"
