%h1 Personal Information

.separating-section
  %h3 Surname: #{current_user.sn}
  %h3 Forename(s): #{current_user.givenname}
  %h3 Email: #{current_user.email}
  - if current_user.isStudent?
    %h3 Preferred Name: #{@user.preferred_name}
    %h3 Title: #{@user.title}
    %h3
      Gender:
      %button.common-button.smaller Request Change
  