-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

%p You have an upcoming event for #{@project.name}
%p Module: #{@project.course_module.code}
%p Due on: #{@date}

%hr

%p #{@milestone_name} in #{@time_remaining}
%p #{@milestone_comment}

%a{ href: @url } Go to project