-# The nav bar that contains the main features a user can access
-# Will get populated with more buttons depending on role and route

- if user_signed_in?
  %nav.feature-navbar
    %ul.navbar-nav
      - if current_user.is_staff?
        %li.nav-item
          = link_to modules_url, class: 'btn btn-light' do
            Modules
      - if current_user.is_staff?      
        %li.nav-item
          = link_to students_url, class: 'btn btn-light' do
            Students
      %li.nav-item
        = link_to projects_url, class: 'btn btn-light' do
          Projects
      %li.nav-item#issues-btn
        = link_to issues_url, class: 'btn btn-light' do
          Issues
          - if current_user.issue_notification?
            %i.bi.bi-exclamation-diamond-fill.icon-pad-nav
      - if current_user.is_facilitator? || current_user.is_admin?
        %li.nav-item
          = link_to facilitators_url, class: 'btn btn-light' do
            Facilitator
