-# This file is a part of Projman, a group project orchestrator and management system,
-# made by Team 5 for the COM3420 module [Software Hut] at the University of Sheffield.

%nav.top-navbar
    = link_to '/', class: 'active nav-link' do
        = image_tag(asset_pack_path('static/images/uos-crest.png'), style: "width: 16%; height: 100%;")

    .center-container
        = render 'layouts/feature-navbar'

    - if user_signed_in?
        %ul.navbar-nav
            %li.nav-item
                = "#{current_user.givenname} #{current_user.sn}"
            %li.nav-item
                - Rails.logger.debug current_user.inspect
                = link_to '/profile', class: 'active nav-link' do
                    %i.bi-person-circle
            %li.nav-item
                = link_to destroy_user_session_path, method: :delete, class: 'active nav-link' do
                    %i.bi-box-arrow-left