%nav.top-navbar
    = link_to '/', class: 'active nav-link' do
        %i.bi-kanban-fill
        Projman

    - if user_signed_in?
        %ul.navbar-nav
            %li.nav-item
                = "#{@user.forename} , #{@user.username}"
            %li.nav-item
                = link_to '/profile', class: 'active nav-link' do
                    %i.bi-person-circle
            %li.nav-item
                = link_to destroy_user_session_path, method: :delete, class: 'active nav-link' do
                    %i.bi-box-arrow-left